@CHARSET "UTF-8";

#top-pane {
	-fx-background-color: #FAC41F;
	-fx-alignment: center;
	-fx-padding: 5 15 5 15;
}

#top-pane #descriptionL {
	-fx-font-size: 11;
	-fx-font-weight: bold;
	-fx-text-alignment: right;
	-fx-alignment: center-right;
}

#top-pane #versionL {
	-fx-font-size: 10;
	-fx-text-fill: gray;
}

#main-pane {
	-fx-font-size: 11;
	-fx-hgap: 15;
	-fx-vgap: 3;
	-fx-padding: 5;
}

#left-main-pane {
	-fx-hgap: 5;
	-fx-vgap: 5;
}

#main-settings-pane,#other-settings-pane {
	-fx-hgap: 5;
	-fx-vgap: 5;
	-fx-padding: 5;
}

#font-settings-pane {
	-fx-padding: 5;
}

#bookFileTF {
	-fx-background-radius: 2 0 0 2;
}

#bookFileB {
	-fx-background-radius: 0 3 3 0;
}

#fontL,#exampleL {
	-fx-background-color: black;
}

#bottom-pane {
	-fx-padding: 0 0 0 5;
}

#createMidletB {
	-fx-font-weight: bold;
}

#example-buttons-box {
	-fx-alignment: center;
	-fx-padding: 5;
}

#piShadow {
	-fx-background-color: rgba(0, 0, 0, 0.4);
}

